<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      	<%= link_to "Mi Comida", root_path, class:"navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default" %></li>
			<% else %>
				<li><%= link_to "Log in", new_user_session_path, class:"btn btn-default" %></li>
				<li><%= link_to "Sign up", new_user_registration_path, class:"btn btn-default" %></li>
			<% end %>
		</ul>
    </div>
  </div>
</nav>